body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #CCCCCC;
}

a {
    color: #000088;
    text-decoration: none;
}

a:link,
a:visited {}

a:hover,
a:active {
    text-decoration: underline;
}

b {
    font-weight: 600;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}